<section role="distributor">
	<div class="card bg-dark border-0 text-black">
		<img class="card-img w-100" src="assets/images/distributor/distribuidor.png" alt="" />
		<div class="card-img-overlay m-card">
			<h1 class="card-title titulo fw-bold">
				Distribuidores Oficiales
			</h1>
		</div>
	</div>
	<div class="card-message-view">
		<div class="card-message-text">
			<br>
			<p class="m-5">En TECALED contamos con ejecutivos certificados por el fabricante; somos los responsables de
				hacer el primer contacto con usted y con su empresa para la asesoría de cada uno de los productos que
				comercializamos. Sabemos de la importancia de los proyectos de nuestros integradores, por lo cual
				interactuamos con nuestros fabricantes en forma directa para ofrecer y garantizar una mejor solución a
				los usuarios finales.</p>
			<p>¿Te interesa alguno de nuestros productos?</p>
			<a routerLink="/contact"><button type="button" class="btn btn-primary btn-lg">Contáctanos</button></a>
			<br> <br> <br>
		</div>
	</div>
	<app-our-brands></app-our-brands>
</section>
