.card {
    min-height: 55vh;
    border-radius: 0px;
    border: 0px;
}

.card-img {
    height: 70vh;
    object-fit: cover;
}

.titulo {
    font-size: 5vw;
    font-weight: bold;
    color: black;
    text-shadow: -4px 3px 0 rgb(255, 254, 254);
}

.card-img-overlay {
    width: 70%;
    left: auto;
}

.m-card {
    position: absolute;
    top: 15%;
    left: 35%;
    margin-top: -25px;
}

.card-message-text {
    color: rgb(0, 0, 0);
}

.card-message-view {
    text-align: center;
}

.justify {
    text-align: justify;
}

.card-width {
    width: 354px;
    height: 265px;
}

@media (min-width: 300px) and (max-width: 499px) {
    .card-img-overlay {
        width: 100%;
        left: auto;
    }

    .titulo {
        font-size: 50px;
        font-weight: bold;
        text-shadow: -4px 3px 0 rgb(255, 254, 254);
        text-align: center;
    }

    .m-card {
        position: absolute;
        top: 30%;
        left: 0%;
        margin-top: -25px;
    }
}

@media (min-width: 500px) and (max-width: 990px) {
    .card-img-overlay {
        width: 100%;
        left: auto;
    }

    .titulo {
        font-size: 70px;
        font-weight: bold;
        text-shadow: -4px 3px 0 rgb(255, 254, 254);
        text-align: center;
    }

    .m-card {
        position: absolute;
        top: 30%;
        left: 0%;
        margin-top: -25px;
    }
}
