<section role="stories">
	<div class="card border-0">
		<img src="assets/images/stories/exito.png" class="card-img w-100" alt="Casos de éxito" />
		<div class="card-img-overlay text-white px-5">
			<p class="card-title fw-bold font-espectacular">Casos de Éxito</p>
		</div>
	</div>
	<router-outlet></router-outlet>

	<div class="fixed-left" *ngIf="!isMain"><button class="btn btn-primary btn-lg rounded-circle size-button"
			(click)="onClick()"><i class="bi bi-arrow-90deg-left" style="-webkit-text-stroke: 2px;"></i></button></div>
</section>
