.card-img {
    height: 70vh !important;
    object-fit: cover;
}

.card-img-overlay {
    top: auto !important;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.589);
}

.card-img-overlay>p {
    /* -webkit-text-stroke: 1px black !important; */
    text-shadow: 2px 2px 2px black !important;
}



.size-button {
    width: 50px !important;
    /* height: 50px !important; */
    opacity: .85 !important;
}

.btn-lg {
    --bs-btn-padding-x: 0;
}

.fixed-left {
    position: fixed;
    top: 50%;
    left: 10px;
    z-index: 10;
    margin: none;
}

.btn-primary {
    background-color: rgb(40, 79, 113) !important;
    border-color: rgb(40, 79, 113) !important;
}

.btn-primary:hover {
    background-color: rgb(67, 109, 146) !important;
    border-color: rgb(67, 109, 146) !important;
}

.btn-primary:focus {
    border: none;
}

@media (min-width: 300px) and (max-width: 500px) {
    .font-espectacular {
        font-size: 4.8vh !important;
    }

    .font-title {
        font-size: 2.8vh !important;
    }

    .card-size {
        height: 65vh !important;
    }
}
