.clients {
    background-image: url("~src/assets/images/our-clients/background.jpg");
    background-origin: border-box;
    background-position: bottom left;
    min-height: 290px;
}

img {
    width: 128px;
    height: 128px;
    object-fit: scale-down;
}

.slide {
    max-height: 140px;
    margin: 0 10px;
}

.slick-prev,
.slick-next {
    height: 45px;
    width: 40px;
    background: grey !important;
    z-index: 100;
}
