<section class="marcas">
    <div class="clients text-white px-5 py-5">
        <h1 class="fw-bold">Marcas</h1>
        <br>
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides"
                class="slide bg-white border rounded-3 border-1 border-primary d-flex aligns-items-center justify-content-center">
                <img src="{{ slide }}" class="mt-auto" alt="Marcas">
            </div>
        </ngx-slick-carousel>
    </div>
</section>
