<p class="text-center font-title">Galeria EK-A / ATLANTIS</p>

<div class="m-0 mb-5 row justify-content-center">
    <div class="col-auto">
        <div class="container" gallerize>
            <img *ngFor="let image of items" class="tn" src="{{image.data.thumb}}" [attr.imageSrc]="image.data.src"
                [attr.thumbSrc]="image.data.thumb" width="250" height="250">
        </div>
    </div>
</div>
