.bg-semitrans {
    top: 8px !important;
    border-radius: 0 !important;
    background-color: rgba(0, 0, 0, 0.589) !important;
}

.card-img {
    height: 70vh !important;
    object-fit: cover;
}

.card-img-overlay {
    top: auto !important;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.589);
}

.card-img-overlay>p {
    /* -webkit-text-stroke: 1px black !important; */
    text-shadow: 2px 2px 2px black !important;
}

.card-bg {
    background: url("~src/assets/images/technical-support/banner2.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.margin-xl {
    padding: 3rem 0 5rem 0;
}

.card-size {
    height: 55vh !important;
}

.img-fluid {
    height: 25vh !important;
}

.message {
    background-color: rgb(40, 79, 113);
}

.message-2 {
    background-color: rgba(0, 0, 0, 0.2);
}

.message>p {
    margin: 0 !important;
}

.list-group-item {
    --bs-list-group-item-padding-y: 0.2rem;
}

.objective-header {
    max-height: 10rem;
}

@media (min-width: 300px) and (max-width: 500px) {
    .font-espectacular {
        font-size: 4.8vh !important;
    }

    .font-title {
        font-size: 2.8vh !important;
    }

    .card-size {
        height: 65vh !important;
    }
}


/* .card-img {
    height: 70vh;
    object-fit: cover;
}

.card-img2 {
    height: 70vh;
    object-fit: cover;
    object-position: top center;
}

.card-2 {
    min-height: 55vh;
}

.spectacular {
    font-size: 5vw;
    font-weight: bold;
    text-shadow: 1px 1px 2px white;
}

.titulo {
    font-size: 100px;
    font-weight: bold;
    text-shadow: -4px 3px 0 white;
}

.message {
    background-color: #005382;
}

.message-2 {
    background-color: #0000003d;
}

.rounded-3 {
    border-radius: 20px !important;
}

.m-card {
    position: absolute;
    top: 15%;
    left: 5%;
    margin-top: -25px;
}

.m-text {
    margin: 5px;
}

@media (min-width: 300px) and (max-width: 499px) {
    .titulo {
        font-size: 80px;
        font-weight: bold;
        text-shadow: -1px 3px 0 white;
        text-align: center;
    }

    .m-card {
        position: absolute;
        top: 40%;
        margin-top: -25px;

    }

    .card-img-overlay {
        width: 100%;
        left: auto;
    }
}

.spectacular {
    text-align: center;
}

@media (min-width: 500px) and (max-width: 990px) {} */
