<section role="technical-support">
    <div class="card border-0">
        <img src="assets/images/technical-support/banner.png" class="card-img w-100" alt="Soporte técnico" />
        <div class="card-img-overlay text-white px-5">
            <p class="card-title fw-bold font-espectacular">Soporte técnico</p>
        </div>
    </div>
    <div class="message text-center text-white px-4 py-5">
        <p class="font-regular">
            Nos esforzamos por brindar el mejor soporte técnico para su empresa,
            para ello contamos con una área especializada con personal
            calificado, certificado y en constante capacitación, nuestros
            técnicos tienen la consigna de proporcionar en todo momento un trato
            inmediato, amable, oportuno pero sobre todo profesional ya que
            nuestra filosofía es simple: <span class="fw-bold">lograr su plena satisfacción</span>
        </p>
        <br />
        <a href="{{waUrl}}" target="_blank" class="btn btn-success btn-lg" role="button"><i class="bi bi-whatsapp"></i>
            Contáctenos</a>
    </div>
    <div class="container-fluid card-bg d-flex align-items-center margin-xl">
        <div class="row">
            <div class="col-12 text-center pt-3 mb-4 text-white bg-semitrans">
                <p class="font-regular">
                    Abarcamos las diferentes áreas de la informática y
                    telecomunicaciones brindando consultoría de primera mano para
                    resolver dudas, nos comprometemos a entregar un servicio de
                    soporte con calidad, de forma presencial o en los siguientes
                    modos:
                </p>
            </div>
            <div class="col-12 container-fluid mt-5">
                <div class="d-flex justify-content-center align-content-around flex-wrap" style="height: 100px;">
                    <span class="badge bg-primary mx-3 font-regular-2">Mesa de ayuda</span>
                    <span class="badge bg-primary mx-3 font-regular-2">Correo Electrónico</span>
                    <span class="badge bg-primary mx-3 font-regular-2">24/7</span>
                    <span class="badge bg-primary mx-3 font-regular-2">Telefónica</span>
                    <span class="badge bg-primary mx-3 font-regular-2">Chat (WhatsApp)</span>
                    <span class="badge bg-primary mx-3 font-regular-2">Asistencia técnica</span>
                    <span class="badge bg-primary mx-3 font-regular-2">Asistencia remota (vía Microsoft Teams,
                        Teamviewer,
                        Anydesk)</span>
                </div>
            </div>
        </div>
    </div>
    <div class="message text-center mb-0 p-5">
        <p class="fw-bold text-white pb-4 font-title">Nuestros servicios:</p>
        <div class="row">
            <div class="p-1 col-md-3 col-sm-12" data-aos="flip-up" [attr.data-aos-delay]="'' + (300 * 0)">
                <div class="card message-2 text-white">
                    <div class="card-body">
                        <img src="assets/images/technical-support/1.png" alt="Switching & Routing"
                            class="img-fluid card-title objective-header" />
                        <p class="card-text font-regular">Switching & Routing</p>
                    </div>
                </div>
            </div>
            <div class="p-1 col-md-3 col-sm-12" data-aos="flip-up" [attr.data-aos-delay]="'' + (300 * 1)">
                <div class="card message-2 text-white">
                    <div class="card-body">
                        <img src="assets/images/technical-support/2.png" alt="Enlaces  inalámbricos"
                            class="img-fluid card-title objective-header" />
                        <p class="card-text font-regular">Enlaces inalámbricos</p>
                    </div>
                </div>
            </div>
            <div class="p-1 col-md-3 col-sm-12" data-aos="flip-up" [attr.data-aos-delay]="'' + (300 * 2)">
                <div class="card message-2 text-white">
                    <div class="card-body">
                        <img src="assets/images/technical-support/3.png" alt="Servidores"
                            class="img-fluid card-title objective-header" />
                        <p class="card-text font-regular">Servidores</p>
                    </div>
                </div>
            </div>
            <div class="p-1 col-md-3 col-sm-12" data-aos="flip-up" [attr.data-aos-delay]="'' + (300 * 3)">
                <div class="card message-2 text-white">
                    <div class="card-body">
                        <img src="assets/images/technical-support/4.png" alt="Configuraciones de sistemas"
                            class="img-fluid card-title objective-header" />
                        <p class="card-text font-regular">Configuraciones de sistemas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
