footer {
    bottom: 0;
    width: 100%;
    background-color: rgb(50, 92, 130);
}

a {
    color: white;
}

.bi {
    font-weight: 800;
    color: rgba(255, 255, 255, 0.432)
}

p {
    margin: 0;
    text-shadow: 1px 1px 2px black;
}

@media (min-width: 300px) and (max-width: 600px) {
    .align {
        text-align: center;
    }
}

@media (max-width: 576px) {

    p.first-child,
    .contact {
        text-align: center !important;
        margin-top: 15px;
    }
}

@media (min-width:577px) {
    p.first-child {
        text-align: left !important;
    }

    .contact {
        text-align: right !important;
    }
}
