<footer class="footer py-3 px-4 text-white">
    <div class="row">
        <p class="col-sm-12 col-md-5 fw-bold align font-regular">Tecaled S.A de C.V ~ © Copyright 2022</p>
        <p class="col-sm-12 col-md-2 text-center fw-bold font-regular-2"></p>
        <div class="col-sm-12 col-md-5 fs-8 fw-bold">
            <div class="row contact">
                <p class="col-sm-12 col-md-6 text-center">
                    <a href="mailto:ventas@tecaled.com.mx?subject=Solicitud%20de%20informes" target="_blank"
                        class="text-decoration-none"><i class="bi bi-envelope-fill"></i></a> &nbsp;
                    ventas@tecaled.com.mx
                </p>
                <p class="col-sm-12 col-md-6 text-center">
                    <a href="tel:9381035106" target="_blank" class="text-decoration-none"><i
                            class="bi bi-telephone-fill"></i></a> &nbsp;&nbsp; {{waNum}} &nbsp;&nbsp; <a
                        href="{{waUrl}}" target="_blank" class="text-decoration-none"><i class="bi bi-whatsapp"></i></a>
                </p>
            </div>
        </div>
    </div>
</footer>
