<ngb-carousel *ngIf="images">
    <ng-template ngbSlide *ngFor="let image of images; let i = index">
        <div class="picsum-img-wrapper">
            <img [src]="image" alt="{{texts[i][0]}}" class=" w-100">
        </div>
        <div class="carousel-caption w-100 m-0 start-0 end-0 px-2">
            <p class="fw-bold font-espectacular text-break pt-2">{{texts[i][0]}}</p>
            <p class="font-title mx-auto" style="width:90% !important;">{{texts[i][1]}}</p>
        </div>

    </ng-template>
</ngb-carousel>
