img {
    height: 76vh;
    object-fit: cover;
}

.carousel {
    z-index: -1;
}

.carousel-control-prev {
    z-index: 2 !important;
}

.carousel-caption {
    bottom: 0em;
    background-color: rgba(0, 0, 0, 0.589);
}

.carousel-caption>span {
    /* font-size: 52px !important; */
    text-shadow: 2px 2px 2px black;
}

@media (min-width: 300px) and (max-width: 500px) {
    .carousel-caption {
        height: 100%;
    }

    .font-espectacular {
        font-size: 5.4vh !important;
    }

    .font-title {
        font-size: 3.3vh !important;
    }
}
