<section role="consulting" *ngIf="show_first" @fadeIn @fadeOut>
    <div class="card border-0">
        <img src="assets/images/consulting/banner.png" class="card-img w-100" alt="Consultoría de redes" />
        <div class="card-img-overlay text-white px-5">
            <p class="card-title fw-bold font-espectacular">Consultoría de redes</p>
            <p class="card-text font-title">Nuestro equipo técnico profesional es el encargado de realizar
                consultoría de redes y telecomunicaciones</p>
        </div>
    </div>

    <div class="message text-center text-white px-4 py-5">
        <p class="font-regular">
            Realizamos todo tipo de proyectos de ingeniería de
            telecomunicaciones industriales e implementamos nuestras estrategias
            tecnológicas en las arquitecturas de redes para obtener una
            comunicación estable y segura
        </p>
    </div>
    <div class="row row-cols-sm-1 row-cols-md-3 g-4 px-2 py-4 mx-0">
        <div class="col-12 text-black" data-aos="zoom-in-left" [attr.data-aos-delay]="'' + (300 * 0)">
            <div class="card border-1 rounded-3 card-size">
                <div class="row gx-0">
                    <div class="col-md-6">
                        <img src="assets/images/consulting/analisis.png" class=" img-fluid ms-4 rounded-start mt-5"
                            alt="Análisis" />
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <div class="card-body">
                            <span class="card-title fw-bold font-regular">Análisis</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <p class="card-text font-regular-2">
                                La primera fase de nuestro proceso es el estudio
                                y análisis detenido de la infraestructura red
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-black" data-aos="zoom-in" [attr.data-aos-delay]="'' + (300 * 2)">
            <div class="card border-1 rounded rounded-3 card-size">
                <div class="row gx-0">
                    <div class="col-md-6">
                        <img src="assets/images/consulting/estudio.png" class=" img-fluid ms-4 rounded-start mt-5"
                            alt="Estudio" />
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <div class="card-body">
                            <span class="card-title fw-bold font-regular">Estudio</span>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <p class="card-text font-regular-2">
                                Buscamos una solución viable para ofrecer un
                                funcionamiento óptimo de la intercomunicación de
                                redes
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-black" data-aos="zoom-in-right" [attr.data-aos-delay]="'' + (300 * 1)">
            <div class="card border-1 rounded rounded-3 card-size">
                <div class="row gx-0">
                    <div class="col-md-6">
                        <img src="assets/images/consulting/solucion.png" class="img-fluid ms-4 rounded-start mt-5"
                            alt="Solución" />
                    </div>
                    <div class="col-md-6 d-flex align-items-center justify-content-center">
                        <div class="card-body">
                            <h1 class="card-title fw-bold font-regular">Solución</h1>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-body">
                            <p class="card-text font-regular-2">
                                Implementamos soluciones y pruebas oportunas establecidas para comprobar y asegurar su
                                correcto funcionamiento
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
</section>
<div class="fixed-left" *ngIf="!show_first"><button class="btn btn-primary btn-lg rounded-circle size-button"
        (click)="onClickLeft()"><i class="bi bi-arrow-left" style="-webkit-text-stroke: 2px;"></i></button></div>
<div class="fixed-right" *ngIf="show_first"><button class="btn btn-primary btn-lg rounded-circle size-button"
        (click)="onClickRight()"><i class="bi bi-plus" style="-webkit-text-stroke: 2px;"></i></button></div>
<section role="design" *ngIf="!show_first" @fadeIn @fadeOut>
    <div class="card border-0">
        <img src="assets/images/consulting/banner2.png" class="card-img w-100" alt="Diseñó de arquitectura de red" />
        <div class="card-img-overlay text-white px-5">
            <p class="card-title title fw-bold font-espectacular">Diseño de arquitectura de red</p>
            <p class="card-text font-title">Una de nuestras especialidades es el área de redes y comunicaciones, ya sea
                de forma local(LAN) o de forma amplia (WAN), dentro de una red de voz o datos</p>
        </div>
    </div>
    <p class="fw-bold text-center font-espectacular pt-4">Ofrecemos</p>
    <div class="container-fluid">
        <div class="border-secundary rounded-4 shadow" data-aos="zoom-out">
            <div class="row d-flex justify-content-center align-items-center px-4 py-2">
                <div class="col-md-2 col-sm-12 d-flex justify-content-center align-items-center py-3">
                    <img src="assets/images/consulting/1.png" class="img-thumbnail" alt="asesorias">
                </div>
                <div class="col-md-10 col-sm-10 px-3">
                    <p class="font-regular fw-bold">Asesoría</p>
                    <p class="font-regular-2">Nuestros servicios de asesoría en redes y comunicaciones están
                        encaminados a:</p>

                    <ul class="list-group list-group-flush font-regular-2">
                        <li class="list-group-item"><i class="bi bi-dot"></i> Optimizar sus recursos</li>
                        <li class="list-group-item"><i class="bi bi-dot"></i> Incrementar el alcance</li>
                        <li class="list-group-item"><i class="bi bi-dot"></i> Mejorar el rendimiento</li>
                        <li class="list-group-item"><i class="bi bi-dot"></i> Cumplir metodologías y estándares del
                            sector</li>
                        <li class="list-group-item"><i class="bi bi-dot"></i> Reducir costos de operación e
                            implementación</li>
                        <li class="list-group-item"><i class="bi bi-dot"></i>
                            Preparación para saltar a la siguiente generación de redes
                            de comunicación en el mercado
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <br>
        <div class="border-secundary rounded-4 shadow" data-aos="zoom-out">
            <div class="row d-flex justify-content-center align-items-center px-4 py-2">
                <div class="col-md-2 col-sm-12 d-flex justify-content-center align-items-center py-3">
                    <img src="assets/images/consulting/2.png" class="img-thumbnail" alt="planeacion">
                </div>
                <div class="col-md-10 col-sm-10 px-3">
                    <p class="font-regular fw-bold">Planeación</p>
                    <p class="font-regular-2">El equipo de Tecaled cuenta con la experiencia para
                        construir la
                        solución adecuada de conectividad de acuerdo a los recursos y
                        necesidades de su Empresa, lo más importante es proveer una completa
                        colaboración de las diversas áreas, en tiempo real, sin importar el
                        lugar donde se encuentren y desde luego con seguridad</p>
                </div>
            </div>
        </div>
        <br>
        <div class="border-secundary rounded-4 shadow" data-aos="zoom-out">
            <div class="row d-flex justify-content-center align-items-center px-4 py-2">
                <div class="col-md-2 col-sm-12 d-flex justify-content-center align-items-center py-3">
                    <img src="assets/images/consulting/3.png" class="img-thumbnail" alt="planeacion">
                </div>
                <div class="col-md-10 col-sm-10 px-3">
                    <p class="font-regular fw-bold">Implementación</p>
                    <p class="font-regular-2">Contamos con un grupo de técnicos especializados en la
                        instalación
                        de cableado estructurado, configuración de sites, conectividad
                        inalámbrica y telefonía VoIP, además de contar con estándares de
                        diseño de redes, redes ocultas, seguridad en cableado y
                        configuración de dispositivos de red, como ruteadores, switches,
                        antenas WiFi, puntos de Acceso WiFi, enlaces dedicados, firewalls,
                        entre otros</p>
                </div>
            </div>
        </div>
        <br>
        <div class="border-secundary rounded-4 shadow" data-aos="zoom-out">
            <div class="row d-flex justify-content-center align-items-center px-4 py-2">
                <div class="col-md-2 col-sm-12 d-flex justify-content-center align-items-center py-3">
                    <img src="assets/images/consulting/4.png" class="img-thumbnail" alt="planeacion">
                </div>
                <div class="col-md-10 col-sm-10 px-3">
                    <p class="font-regular fw-bold">Administración</p>
                    <p class="font-regular-2">Nuestros servicios de gestión de red pueden variar desde el
                        monitoreo simple de una red LAN, hasta una administración remota de
                        un site con múltiples servidores y conexiones de voz y datos. Además
                        este servicio puede ser integrado con nuestros servicios de
                        Consultoría, Mantenimiento y Soporte Técnico para proveerle una
                        cobertura completa en sus necesidades de Tecnología de Información.</p>
                </div>
            </div>
        </div>
        <br>
    </div>
</section>
