.card {
    min-height: 55vh;
    border: 0px;
    border-radius: 0px;
}

.card-img {
    height: 55vh;
    object-fit: cover;
    object-position: center right;
}

.titulo {
    font-size: 5vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-shadow: -4px 3px 0 rgb(0, 0, 0);
}

.card-img-overlay {
    width: 70%;
    left: auto;
}

.m-card {
    position: absolute;
    top: 30%;
    left: 5%;
    margin-top: -25px;
}

.message {
    background-color: #005382;
}

@media (min-width: 300px) and (max-width: 499px) {
    .card-img-overlay {
        width: 100%;
        left: auto;
    }

    .titulo {
        font-size: 70px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-shadow: -4px 3px 0 rgb(0, 0, 0);
        text-align: center;
    }

    .m-card {
        position: absolute;
        top: 25%;
        left: 0%;
        margin-top: -25px;

    }
}

@media (min-width: 500px) and (max-width: 990px) {
    .card-img-overlay {
        width: 100%;
        left: auto;
    }

    .titulo {
        font-size: 70px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        text-shadow: -4px 3px 0 rgb(0, 0, 0);
        text-align: center;
    }

    .m-card {
        position: absolute;
        top: 25%;
        left: 0%;
        margin-top: -25px;
    }
}
