<section role="contact">
    <div class="card bg-dark border-0 text-black">
        <img src="assets/images/contact/banner.png" class="card-img w-100" alt="Contacto" />
        <div class="card-img-overlay m-card">
            <h1 class="card-title titulo fw-bold">Contacte con nosotros</h1>
        </div>
    </div>
    <div class="message mb-0 p-5">
        <br />
        <p class="fs-4 text-center text-white">
            Envíanos tus requerimientos y nosotros te damos la propuesta ideal
        </p>
        <br />
        <app-contact-form></app-contact-form>
        <br />
        <div class="d-flex justify-content-center">
            <img src="assets/images/contact/contact.png" class="img-fluid" alt="Email">
        </div>
    </div>
</section>
