<section role="404" class="d-flex aligns-items-center justify-content-center">
    <div class="my-5">
        <h1>Oops!</h1>
        <h2>404 Not Found</h2>
        <p>La pagina solicitada no fue encontrada :(</p>
        <h3><a routerLink="">Regresar al inicio</a></h3>
    </div>
</section>
