<div class="container shadow-lg p-3 mb-5 bg-body rounded">
    <form [formGroup]="form" novalidate (ngSubmit)="save($event)">
        <div class="mb-3">
            <label for="name" class="form-label">Nombre</label>
            <label class="text-danger ms-4" *ngIf="f['name'].hasError('required') && f['name'].touched">Es un campo
                requerido</label>
            <input type="email" class="form-control" id="name" aria-describedby="nameHelp" formControlName="name">
            <div id="nameHelp" class="form-text">Escriba su nombre completo</div>
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Correo electrónico</label>
            <label class="text-danger ms-4" *ngIf="f['email'].hasError('required') && f['email'].touched">Es un campo
                requerido</label>
            <label class="text-danger ms-4" *ngIf="f['email'].hasError('email') && f['email'].touched">No es un email
                valido</label>
            <input type="email" class="form-control" id="email" formControlName="email">
        </div>
        <div class="mb-3">
            <label for="telephone" class="form-label">Teléfono</label>
            <label class="text-danger ms-4" *ngIf="f['telephone'].hasError('required') && f['telephone'].touched">Es un
                campo requerido</label>
            <label class="text-danger ms-4" *ngIf="f['telephone'].hasError('pattern') && f['telephone'].touched">No es
                un telefono valido</label>
            <input type="tel" class="form-control" id="telephone" formControlName="telephone" maxlength="10">
        </div>
        <div class="mb-3">
            <label for="message">Mensaje</label>
            <label class="text-danger ms-4" *ngIf="f['message'].hasError('required') && f['message'].touched">Es un
                campo requerido</label>
            <label class="text-danger ms-4" *ngIf="f['message'].hasError('maxlength') && f['message'].touched">Máximo
                deben haber 500 caracteres</label>
            <textarea class="form-control" id="message" rows="3" aria-describedby="messageHelp"
                formControlName="message"></textarea>
            <div id="messageHelp" class="form-text">Detalle su mensaje: <small>{{f['message'].value.length}} /
                    500</small></div>
        </div>
        <div class="mb-3">
            <re-captcha formControlName="recaptcha"></re-captcha>
            <label class="text-danger ms-4"
                *ngIf="f['recaptcha'].invalid && (f['recaptcha'].dirty || f['recaptcha'].touched)">Es un campo
                requerido</label>
        </div>
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
    <div class="container" *ngIf="status!=''">
        <br><br>
        <h4 *ngIf="!status.includes('error')" class="bg-success text-white p-3">{{status}}</h4>
        <h4 *ngIf="status.includes('error')" class="bg-danger text-white p-3">{{status}}</h4>
    </div>
</div>
