<section class="ourclients">
    <div class="clients text-white px-5 py-5">
        <span class="fw-bold font-title">Nuestros clientes</span>
        <p class="font-regular">Diferentes sectores, distintas necesidades un solo proveedor: <span
                class="fw-bold">Tecaled</span></p>
        <ngx-slick-carousel class="carousel " #slickModal="slick-carousel" [config]="slideConfig">
            <div ngxSlickItem *ngFor="let slide of slides"
                class="slide bg-white border border-1 border-dark d-flex  aligns-items-center justify-content-center">
                <img src="{{ slide }}" class="mt-auto img-fluid" alt="Empresa">
            </div>
        </ngx-slick-carousel>
    </div>
</section>
