<div class="message text-center px-4 py-5">
    <p class="font-regular pb-4 text-white">Con el fin de inspirarte presentamos algunos ejemplos de casos de éxito
        empresarial que
        hemos
        obtenido a traves de los años. </p>
    <div class="container">
        <div class="card border-0">
            <div class="row no-gutters">
                <div class="col-sm-5">
                    <img src="assets/images/stories/telrad-tecaled.jpeg" class="card-img-top h-100" alt="...">
                </div>
                <div class="col-sm-7 align-self-center">
                    <div class="card-body m-3">
                        <p class="card-title font-regular fw-bold">Telrad aprovecha para proporcionar conectividad a
                            la red
                            privada entre
                            Tierra
                            y Mar</p>
                        <br>
                        <p class="card-text justify font-regular">"Muchos clientes de Telrad como TECALED han confiado
                            en la
                            solución
                            BreezeAccess VL durante años. Mientras tanto, nuestra búsqueda constante de un mejor
                            rendimiento,
                            mayor eficiencia y mayor escalabilidad han aprovechado avances más amplios en tecnología
                            para
                            abrir aún más ventajas y oportunidades....."</p>

                        <p class="text-start"> <a class="btn btn-primary btn-sm" href="https://telrad.com/offshore/"
                                role="button" target="_blank">Leer
                                más</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4 mt-2 mb-4">
        <div class="col" data-aos="zoom-out" [attr.data-aos-delay]="'' + (300 * 0)">
            <div class="card h-100 shadow-sm">
                <img src="assets/images/stories/KAB-C/9-sm.jpg" class="card-img-top card-width" alt="...">
                <div class="card-body">
                    <p class="card-title text-center fw-bold fs-regular-2">WIMAX WEATHERFORD KAB-C CON PANELES
                        SOLARES</p>
                </div>
                <div class="card-footer">
                    <p class="text-center"><a routerLink="../kabc"><button type="button"
                                class="btn btn-primary btn-block btn-lg mt-3">Ver galería</button></a></p>
                </div>
            </div>
        </div>
        <div class="col" data-aos="zoom-out" [attr.data-aos-delay]="'' + (300 * 1)">
            <div class="card shadow-sm h-100">
                <img class="card-img-top card-width" src="assets/images/stories/KUF/3-sm.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title text-center fw-bold fs-regular-2">WIMAX WEATHERFORD KU-F</p>
                </div>
                <div class="card-footer">
                    <p class="text-center"><a routerLink="../kuf"><button type="button"
                                class="btn btn-primary btn-block btn-lg mt-3">Ver galería</button></a></p>
                </div>
            </div>
        </div>
        <div class="col" data-aos="zoom-out" [attr.data-aos-delay]="'' + (300 * 2)">
            <div class="card shadow-sm h-100">
                <img class="card-img-top card-width" src="assets/images/stories/ATLAN/3-sm.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title text-center fw-bold fs-regular-2 ">LTE COTEMAR CENTRAL EK-A/REMOTO
                        ATLANTIS</p>
                </div>
                <div class="card-footer">
                    <p class="text-center"><a routerLink="../eka"><button type="button"
                                class="btn btn-primary btn-block btn-lg mt-3">Ver galería</button></a></p>
                </div>
            </div>
        </div>
        <div class="col" data-aos="zoom-out" [attr.data-aos-delay]="'' + (300 * 3)">
            <div class="card shadow-sm h-100">
                <img class="card-img-top card-width" src="assets/images/stories/NEPT/11-sm.jpg" alt="Card image cap">
                <div class="card-body">
                    <p class="card-title text-center fw-bold fs-regular-2">LTE COTEMAR CENTRAL AKAL-C/REMOTO
                        NEPTUNO</p>
                </div>
                <div class="card-footer">
                    <p class="text-center"><a routerLink="../akalc"><button type="button"
                                class="btn btn-primary btn-block btn-lg mt-3">Ver galería</button></a></p>
                </div>
            </div>
        </div>
        <div class="col" data-aos="zoom-out" [attr.data-aos-delay]="'' + (300 * 4)">
            <div class="card shadow-sm h-100">
                <img class="card-img-top card-width" src="assets/images/stories/IOLA/17-sm.jpg" alt="Card image cap">
                <div class="card-body">
                    <span class="card-title text-center fw-bold fs-regular-2">LTE COTEMAR CENTRAL KU-H/REMOTO
                        IOLAIR</span>
                </div>
                <div class="card-footer">
                    <p class="text-center"><a routerLink="../kuh"><button type="button"
                                class="btn btn-primary btn-block btn-lg mt-3">Ver galería</button></a></p>
                </div>
            </div>
        </div>
        <div class="col" data-aos="zoom-out" [attr.data-aos-delay]="'' + (300 * 4)">
            <div class="card shadow-sm h-100">
                <img class="card-img-top card-width" src="assets/images/stories/IXT-A/7.jpg" alt="Card image cap">
                <div class="card-body">
                    <span class="card-title text-center fw-bold fs-regular-2">LTE EPSS CENTRAL IXTOC-A/REMOTO
                        Global Explorer</span>
                </div>
                <div class="card-footer">
                    <p class="text-center"><a routerLink="../ixta"><button type="button"
                                class="btn btn-primary btn-block btn-lg mt-3">Ver galería</button></a></p>
                </div>
            </div>
        </div>
        <br>
        <br>
    </div>
</div>
