.card-img {
    height: 70vh;
    object-fit: cover;
}

.card {
    min-height: 55vh;
}

.titulo {
    font-size: 80px;
    font-weight: bold;
    text-shadow: -4px 3px 0 rgb(0, 0, 0);
}

.card-img-overlay {
    width: 50%;
    left: auto;
}

.m-card {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-top: -15px;
}

.message {
    background-color: #005382;
}

.rounded-3 {
    border-radius: 20px !important;
}

.objective-header {
    min-height: 3.8rem;
}

.object-header {
    max-height: 10rem;
}

.objective {
    min-height: 12rem;
}

.slide {
    min-height: 65vh;

    /* border-radius: 1rem !important; */
}

.img-thumbnail {
    max-height: 65vh;
}

.img-thumbnail-2 {
    max-height: 25vh;
}


@media (min-width: 300px) and (max-width: 499px) {
    .card-img-overlay {
        width: 90%;
        left: auto;
    }

    .titulo {
        font-size: 50px;
        font-weight: bold;
        text-shadow: -4px 3px 0 rgb(0, 0, 0);
        text-align: center;
    }

    .m-card {
        position: absolute;
        top: 30%;
        left: 5%;
        margin-top: -15px;
    }

    .slide {
        min-height: 30vh;
        max-height: 65vh;
        /* border-radius: 1rem !important; */
    }
}

@media (min-width: 500px) and (max-width: 990px) {
    .card-img-overlay {
        width: 90%;
        left: auto;
    }

    .titulo {
        font-size: 75px;
        font-weight: bold;
        text-shadow: -4px 3px 0 rgb(0, 0, 0);
        text-align: center;
    }

    .m-card {
        position: absolute;
        top: 30%;
        left: 5%;
        margin-top: -15px;
    }
}
