<section role="radio-planning">
    <div class="card bg-dark border-0 text-black">
        <img src="assets/images/lte/banner.jpg" class="card-img w-100" alt="Tecnología LTE" />
        <div class="card-img-overlay m-card">
            <h1 class="card-title titulo fw-bold text-white">Tecnología LTE</h1>
        </div>
    </div>
    <div class="message text-center text-white">
        <p class="p-5 fs-4 col-12">
            Tecaled ofrece soluciones LTE de la marca Telrad Networks de extremo a extremo a
            operadores y empresas, lo que les permite adelantarse a la creciente
            demanda de aplicaciones y servicios de gran ancho de banda. Estamos
            especialmente enfocados en proporcionar productos LTE excepcionales
            y servicio al cliente en la industria de las telecomunicaciones
        </p>


        <div class="row m-3 align-items-center d-flex justify-content-center">
            <div *ngFor="let slide of slides; let i = index" class="col-sm-12 col-md-3 p-3">
                <div class="card text-white objective" data-aos="zoom-in-down" [attr.data-aos-delay]="'' + (300 * i)">
                    <div
                        class="card-header fw-bold objective-header message align-items-center d-flex justify-content-center">
                        <img src="{{ slide[0] }}" class="img-fluid">

                    </div>
                    <div
                        class="card-body fw-bold objective-header message align-items-center d-flex justify-content-center">
                        {{ slide[1] }}</div>
                    <div class="card-body">
                        <p class="card-text text-black">{{ slide[2] }}</p>
                    </div>
                </div>
            </div>
        </div>




        <br />
    </div>
    <h1 class="m-0 fw-bold text-center message p-2 text-white">Productos</h1>
    <!-- // TODO: PONER LOGO DE TELRAD O ACOMODOR QUE SON EQUIPOS DE TELRAD9 -->
    <div class="message p-5">
        <ngx-slick-carousel class="carousel" [config]="slideConfig2">
            <div ngxSlickItem class="slide card text-white objective me-3 mb-3">
                <div
                    class="card-header fs-2 fw-bold objective-header message align-items-center d-flex justify-content-center">
                    BreezeCOMPACT1000
                </div>
                <div class="card-body text-black">


                    <div class=" align-items-center d-flex justify-content-center">
                        <img src="assets/images/lte/img_1.png" class="img-fluid img-thumbnail rounded "
                            alt="BreezeCOMPACT1000" />
                    </div>
                </div>
            </div>

            <div ngxSlickItem class="slide card text-white objective me-3 mb-3">
                <div
                    class="card-header fs-2 fw-bold objective-header message align-items-center d-flex justify-content-center">
                    CPE12000U
                </div>
                <div class="card-body row text-black">

                    <div class="align-items-center d-flex justify-content-center">
                        <img src="assets/images/lte/img_2.png" class="img-fluid img-thumbnail rounded"
                            alt="CPE12000U" />
                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide card text-white objective me-3 mb-3">
                <div
                    class="card-header fs-2 fw-bold objective-header message align-items-center d-flex justify-content-center">
                    BreezeGPS
                </div>
                <div class="card-body row text-black">
                    <div class="col-sm-12 col-md-8">

                    </div>
                    <div class="align-items-center d-flex justify-content-center">
                        <img src="assets/images/lte/img_3.png" class="img-fluid img-thumbnail rounded"
                            alt="BreezeGPS" />
                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide card text-white objective me-3 mb-3">
                <div
                    class="card-header fs-2 fw-bold objective-header message align-items-center d-flex justify-content-center">
                    BreezeWAY
                </div>
                <div class="card-body row text-black">
                    <div class="col-sm-12 col-md-8">

                    </div>
                    <div class="align-items-center d-flex justify-content-center">
                        <img src="assets/images/lte/img_4.png" class="img-fluid img-thumbnail rounded"
                            alt="CPE12000U" />
                    </div>
                </div>
            </div>
            <div ngxSlickItem class="slide card text-white objective me-3 mb-3">
                <div
                    class="card-header fs-2 fw-bold objective-header message align-items-center d-flex justify-content-center">
                    BreezeAIR, ACE & 8000
                </div>
                <div class="card-body row text-black">
                    <div class="col-sm-12 col-md-8">

                    </div>
                    <div class="align-items-center d-flex justify-content-center">
                        <img src="assets/images/lte/img_5.png" class="img-fluid img-thumbnail rounded"
                            alt="CPE12000U" />
                    </div>
                </div>
            </div>


        </ngx-slick-carousel>
    </div>
</section>
