<section role="why-we" class="text-center px-4 py-5">
    <span class="fw-bold font-title">¿Por qué Tecaled?</span>
    <br>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6 col-md-3 text-center font-regular" data-aos="zoom-in"
            [attr.data-aos-delay]="'' + (300 * 0)">
            <img src="assets/images/why-we/1.svg" alt="Respaldo">
            <br><span><b>Respaldo</b></span>
            <p class="text-justify">Somos líderes en el mercado, todos los productos que ofrecemos tienen el respaldo de
                miles de clientes
                usándolos</p>
        </div>
        <div class="col-sm-6 col-md-3 text-center font-regular" data-aos="zoom-in"
            [attr.data-aos-delay]="'' + (300 * 1)">
            <img src="assets/images/why-we/2.svg" alt="Innovación">
            <br><span><b>Innovación</b></span>
            <p class="text-justify">Pensamos propuestas para satisfacer las necesidades particulares de cada industria
                en específico</p>
        </div>
        <div class="col-sm-6 col-md-3 text-center font-regular" data-aos="zoom-in"
            [attr.data-aos-delay]="'' + (300 * 2)">
            <img src="assets/images/why-we/3.png" alt="Reconocimiento">
            <br><span><b>Reconocimiento</b></span>
            <p class="text-justify">Contamos con los aliados de negocios de mayor reconocimiento en el mercado
                tecnológico</p>
        </div>
        <div class="col-sm-6 col-md-3 text-center font-regular" data-aos="zoom-in"
            [attr.data-aos-delay]="'' + (300 * 3)">
            <img src="assets/images/why-we/4.png" alt="Compromiso">
            <br><span><b>Compromiso</b></span>
            <p class="text-justify">Nos comprometemos a brindar soluciones de tecnología avanzada con personal
                calificado</p>
        </div>
    </div>
    <br>
</section>
