nav {
    background-color: rgb(40, 79, 113);
}

.container-fluid {
    justify-content: center;
}

.navbar-toggler[aria-expanded="false"]>i::before {
    content: '\F27E';
}

.navbar-toggler[aria-expanded="true"]>i::before {
    content: '\F281';
}
