<nav class="navbar navbar-expand-lg py-1 navbar-dark text-white">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#"></a> -->
        <button class="navbar-toggler m-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSub"
            aria-controls="navbarSub" aria-expanded="false" aria-label="Toggle navigation" (click)="setMovil()">
            <i class="bi"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSub">
            <div class="navbar-nav mx-auto">
                <ng-container *ngFor="let navItem of navItems">
                    <a class="nav-link mx-4 fw-bold font-regular-2" [attr.data-bs-toggle]="isMovil"
                        (click)="removeMovil()" data-bs-target="#navbarSub" routerLink="{{navItem[1]}}"
                        routerLinkActive="active">{{navItem[0]}}</a>
                </ng-container>
            </div>
        </div>
    </div>
</nav>
