.container-loader {
    min-height: 60vh;
}

.flip-v {
    transform: scaleX(-1);
}

.flip-h {
    transform: scaleY(-1);
}

.spacer {
    margin-left: 10vh;
}

.antenna {
    width: 35vh;
    height: 35vh;
    top: 20vh;
    position: relative;
    background-repeat: no-repeat;
    background-image:
        radial-gradient(circle 2vh, #4f545a 100%, transparent 0),
        linear-gradient(#4f545a 10vh, transparent 0);

    background-size: 4vh 4vh, 2vh 10vh;
    background-position: 25vh 13.9vh, center bottom;
}

.antenna:before {
    content: "";
    background: rgb(50, 92, 130);
    position: absolute;
    top: 12vh;
    left: 13vh;
    width: 10vh;
    height: 20vh;
    border-radius: 100% 0 0 100% / 50%;
    transform: rotate(-33deg);
}

.antenna:after {
    content: "";
    background: #4f545a;
    position: absolute;
    top: 14vh;
    left: 22vh;
    width: 1.5vh;
    height: 10vh;
    border-radius: 20%;
    transform: rotate(55deg);
    z-index: -2;
}


.wireless {
    width: 40vh;
    height: 40vh;
    padding: 20px;
    animation: wifiLoading 1s ease-in infinite;
    border: 60px double transparent;
}

.wireless,
.wireless:before {
    display: inline-block;
    border-right-color: black;
    border-radius: 50%;
}

.wireless:before {
    content: '';
    /* width: 0;
    height: 0; */
}

/* @keyframes wifiLoading {
    0% {
        border-style: none
    }

    100% {
        border-style: double
    }
} */



/* @keyframes wifiLoading {
    0% {
        border-style: none
    }

    100% {
        border-style: double
    }
} */
