<app-header></app-header>
<!-- <div class="container-loader d-flex align-items-center justify-content-center" *ngIf="loader">
    <span class="antenna align-middle"></span>
    <span class="wireless align-middle"></span>
    <span class="spacer"></span>
    <span class="wireless align-middle flip-v"></span>
    <span class="antenna align-middle flip-v"></span>
</div> -->
<main [@fade]="o.isActivated ? o.activatedRoute : ''">
    <router-outlet #o="outlet"></router-outlet>
</main>
<app-footer class="mt-auto"></app-footer>
