.phrase {
    background-color: #C1C7CC;
}

.phrase>p {
    margin: 0 !important;
}

img {
    object-fit: cover;
    vertical-align: middle;
    height: 196px;
}

.card-body>.card-text {
    text-align: justify;
}

.card {
    min-height: 406px;
}

@media (min-width: 300px) and (max-width: 500px) {
    .mx {
        margin-left: 1rem !important;
        margin-right: 1rem !important;
    }
}
