<section role="ally">
    <div class="phrase text-center px-4 py-5">
        <span class="fw-bold font-title">SOMOS TU ALIADO EN TECNOLOGÍA</span>
        <p class="font-regular">Conocer tus procesos, ayudarte a optimizarlos y ser mas eficiente mediante soluciones
            tecnológicas</p>
    </div>
    <br>
    <div class="row mx-5 mx">
        <div class="col-sm-12 col-md-4" data-aos="zoom-in-left" [attr.data-aos-delay]="'' + (300 * 0)">
            <div class="card mb-3">
                <img src="assets/images/about-us/1.png" alt="¿Quienes somos?" class="img-fluid">
                <div class="card-body font-regular">
                    <span class="card-title fw-bold">
                        ¿Quienes somos?
                    </span>
                    <p class="card-text">
                        Somos una empresa dedicada a la comercialización y distribución de soluciones tecnológicas
                        respaldados por marcas lideres en el mercado.
                        Tenemos la experiencia para ofrecer soporte así como el seguimiento a los proyectos realizados
                        por nuestros clientes
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4" data-aos="zoom-in" [attr.data-aos-delay]="'' + (300 * 2)">
            <div class="card mb-3">
                <img src="assets/images/about-us/2.png" alt="Misión">
                <div class="card-body font-regular">
                    <span class="card-title fw-bold">
                        Misión
                    </span>
                    <p class="card-text">
                        Nuestra misión es proveer al cliente las soluciones de vanguardia que les permitan tomar las
                        mejores decisiones en el sector de las tecnologías de la información, para su eficaz
                        implementación en cada unos de sus proyectos
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-4" data-aos="zoom-in-right" [attr.data-aos-delay]="'' + (300 * 1)">
            <div class="card mb-3">
                <img src="assets/images/about-us/3.png" class="img-fluid" alt="Visión">
                <div class="card-body font-regular">
                    <span class="card-title fw-bold">
                        Visión
                    </span>
                    <p class="card-text">
                        Ser una empresa referente en el mercado nacional con lo ultimo en tecnología, distinguiéndonos
                        por la calidad de nuestros servicios, generando relaciones duraderas con nuestros clientes
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
