.card-img {
    height: 70vh !important;
    object-fit: cover;
}

.card-img-overlay {
    top: auto !important;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.589);
}

.card-img-overlay>p {
    /* -webkit-text-stroke: 1px black !important; */
    text-shadow: 2px 2px 2px black !important;
}

.card-size {
    height: 55vh !important;
}

.img-fluid {
    height: 25vh !important;
}

.message {
    background-color: rgb(40, 79, 113);
}

.message>p {
    margin: 0 !important;
}

.list-group-item {
    --bs-list-group-item-padding-y: 0.2rem;
}

@media (min-width: 300px) and (max-width: 500px) {
    .font-espectacular {
        font-size: 4.8vh !important;
    }

    .font-title {
        font-size: 2.8vh !important;
    }

    .card-size {
        height: 65vh !important;
    }
}
