<section role="radio-planning">
    <div class="card border-0">
        <img src="assets/images/radio-planning/banner.png" class="card-img w-100" alt="Consultoría de redes" />
        <div class="card-img-overlay text-white px-5">
            <p class="card-title fw-bold font-espectacular">
                Radio planning network
            </p>
            <p class="card-text font-title">
                Cuando se utilizan tecnologías para comunicación sobre medios
                de transmisión inalámbrica de banda ancha, se requiere del uso
                de tecnologías para planificación de red, inclusive antes de
                visitar los sitios a comunicar
            </p>
        </div>
    </div>
    <div class="message text-center text-white px-4 py-5">
        <p class="font-regular">
            Contamos con los sistemas y experiencia en la realización de
            estudios de impacto, cobertura, puntos de vista, radio planning para
            simplificar el diseño de nuestras propuestas que resulta en
            reducción de costos, al enviar ingenieros a hacer estudios de campo
            sobre todo en áreas de difícil acceso.
        </p>
    </div>
    <div class="container-fluid pt-3">
        <div class="border-secundary rounded-4 shadow" data-aos="zoom-out">
            <div class="row d-flex justify-content-center align-items-center px-4 py-2">
                <div class="col-md-2 col-sm-12 d-flex justify-content-center align-items-center py-3">
                    <img src="assets/images/radio-planning/1.png" class="img-thumbnail"
                        alt="Herramientas de visualización">
                </div>
                <div class="col-md-10 col-sm-10 px-3">
                    <p class="font-regular-2">Tenemos las herramientas necesarias que nos permiten
                        visualizar mediante enlaces satélitales la orografía de los
                        terrenos y tomar las mejores decisiones sobre nuestra
                        propuestas para determinar el tipo de equipo, antenas y
                        frecuencias de operación adecuadas.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="border-secundary rounded-4 shadow" data-aos="zoom-out">
            <div class="row d-flex justify-content-center align-items-center px-4 py-2">
                <div class="col-md-2 col-sm-12 d-flex justify-content-center align-items-center py-3">
                    <img src="assets/images/radio-planning/2.png" class="img-thumbnail"
                        alt="Diseño de la infraestructura">
                </div>
                <div class="col-md-10 col-sm-10 px-3">
                    <p class="font-regular-2">El diseño de la infraestructura adecuada, las soluciones en
                        radio planning y la experiencia técnica de varios años de
                        nuestro personal especializado proporcionara eficiencia,
                        seguridad y ahorro en gastos de comunicaciones y en la
                        administración de la infraestructura de su red de
                        comunicaciones.</p>
                </div>
            </div>
        </div>
        <br>
        <div class="border-secundary rounded-4 shadow" data-aos="zoom-out">
            <div class="row d-flex justify-content-center align-items-center px-4 py-2">
                <div class="col-md-2 col-sm-12 d-flex justify-content-center align-items-center py-3">
                    <img src="assets/images/radio-planning/3.png" class="img-thumbnail" alt="Garantias">
                </div>
                <div class="col-md-10 col-sm-10 px-3">
                    <p class="font-regular-2">En nuestras propuestas garantizamos: </p>

                    <ul class="list-group list-group-flush font-regular-2">
                        <li class="list-group-item"><i class="bi bi-dot"></i> Alta disponibilidad del servicio</li>
                        <li class="list-group-item"><i class="bi bi-dot"></i> Ancho de banda garantizada</li>
                        <li class="list-group-item"><i class="bi bi-dot"></i> Óptima comunicación</li>
                        <li class="list-group-item"><i class="bi bi-dot"></i> Comunicación segura</li>
                        <li class="list-group-item"><i class="bi bi-dot"></i>
                            Distribución y optimización en los diferentes servicios
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <br>
    </div>
</section>
