<section role="services" class="d-flex flex-column aligns-items-center justify-content-center"
    [@slider_page]="prepareRoute(outlet)">
    <app-navigation-services></app-navigation-services>
    <router-outlet #outlet="outlet"></router-outlet>
</section>
