#logo {
    width: 130px;
    position: absolute;
    top: 0;
    object-fit: fill;
    z-index: 10;
}

/*Small devices (landscape phones, 576px and up)*/
@media (max-width: 575.98px) {
    #logo {
        width: 115px;
        height: auto;
    }
}
