/* You can add global styles to this file, and also import other style files */
@import '~@angular/cdk/overlay-prebuilt.css';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #303030;
    /* border-radius: 10px; */
}

body::-webkit-scrollbar-thumb {
    /* background-color: #303030; */
    border-radius: 10px;
    background: rgba(76, 120, 161, 0.7);
}

* {
    font-family: 'Open Sans', sans-serif;
}

body {
    overflow-x: hidden;
}

.font-espectacular {
    font-size: 8vh !important;
}

.font-title {
    font-size: 4.5vh !important;
}

.font-regular {
    font-size: 3vh !important;
}

.font-regular-2 {
    font-size: 2.5vh !important;
}
