<nav class="navbar navbar-expand-lg py-4 navbar-dark text-white">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" routerLink="/"> -->
        <app-logo></app-logo>
        <!-- </a> -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain"
            aria-controls="navbarMain" aria-expanded="false" aria-label="Toggle navigation" (click)="setMovil()">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">
            <div class="navbar-nav mx-auto">
                <ng-container *ngFor="let navItem of navItems">
                    <a class="nav-link mx-4 fw-bold font-regular" [attr.data-bs-toggle]="isMovil"
                        (click)="removeMovil()" data-bs-target="#navbarMain" routerLink="{{navItem[1]}}"
                        routerLinkActive="active">{{navItem[0]}}</a>
                </ng-container>
            </div>
        </div>
    </div>
</nav>
