.tn {
    margin: 10px 10px;
    border: 0px solid #eee;
    box-shadow: 0px 12px 10px -4px rgba(0, 0, 0, 0.92);
    -webkit-box-shadow: 0px 12px 10px -4px rgba(0, 0, 0, 0.92);
    -moz-box-shadow: 0px 12px 10px -4px rgba(0, 0, 0, 0.92);
    cursor: pointer;
    border-radius: 5px 5px 5px 5px;
}
