.card-img {
    height: 70vh !important;
    object-fit: cover;
}

.card-img-overlay {
    top: auto !important;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0.589);
}

.card-img-overlay>p {
    /* -webkit-text-stroke: 1px black !important; */
    text-shadow: 2px 2px 2px black !important;
}

.card-bg {
    background: url("~src/assets/images/satellite/paisaje.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.margin-xl {
    padding: 3rem 2.5rem 5rem 2.5rem;
}

.card-size {
    height: 55vh !important;
}

.img-fluid {
    height: 25vh !important;
}

.message {
    background-color: rgb(40, 79, 113);
}

.message>p {
    margin: 0 !important;
}

.list-group-item {
    --bs-list-group-item-padding-y: 0.2rem;
}

.service-icon {
    width: 8em;
    height: 8em;
}

.bottom-padding {
    padding-bottom: 1rem !important;
}

@media (min-width: 300px) and (max-width: 500px) {
    .font-espectacular {
        font-size: 4.8vh !important;
    }

    .font-title {
        font-size: 2.8vh !important;
    }

    .card-size {
        height: 65vh !important;
    }
}

/*
.card {
    min-height: 55vh;
    border-radius: 0px;
}

.card-img {
    height: 70vh;
    object-fit: cover;
}

.card-img-overlay {
    width: 50%;
    left: auto;
}

.m-card {
    position: absolute;
    top: 15%;
    left: 65%;
    margin-top: -25px;
}

.titulo {
    font-size: 100px;
    font-weight: bold;
    text-shadow: -4px 3px 0 rgb(0, 0, 0);
}

.card-message-view {
    background-color: #005382;
}

.card-message-text {
    color: white;
    font-size: 48px;
    text-align: center;
}


.p-tag {
    padding: 3%;
}

.flex-container {
    display: flex;
    justify-content: space-around;
}

.flex-item {
    margin-top: 10px;
}

.row-col>* {
    flex: 0 0 auto;
    width: 25%;
}


@media (min-width: 300px) and (max-width: 499px) {
    .card-img-overlay {
        width: 90%;
        left: auto;
    }

    .titulo {
        font-size: 75px;
        font-weight: bold;
        text-shadow: -4px 3px 0 rgb(0, 0, 0);
    }

    .m-card {
        position: absolute;
        top: 30%;
        left: 10%;
        margin-top: -25px;
    }

    .card-message-text {
        font-size: 20px;
    }

    .p-tag {
        padding: 5% 1% 3% 1%;
    }

    .m-tag {
        margin-bottom: 5%;
    }

    .card-bg {
        height: 100%;
    }

    .w-img {
        width: 140px;
    }

    .row-col>* {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 500px) and (max-width: 990px) {
    .card-img-overlay {
        width: 90%;
        left: auto;
    }

    .titulo {
        font-size: 80px;
        font-weight: bold;
        text-shadow: -4px 3px 0 rgb(0, 0, 0);
    }

    .m-card {
        position: absolute;
        top: 30%;
        left: 20%;
        margin-top: -25px;
    }

    .p-tag {
        padding: 5% 1% 3% 1%;
    }

    .m-tag {
        margin-bottom: 5%;
    }

    .card-bg {
        height: 100%;
    }

    .row-col>* {
        flex: 0 0 auto;
        width: 50%;
    }
} */
