<section role="satellite">
    <div class="card border-0">
        <img src="assets/images/satellite/antenasatelital.png" class="card-img w-100" alt="Satelital" />
        <div class="card-img-overlay text-white px-5">
            <p class="card-title fw-bold font-espectacular">
                Satelital
            </p>
        </div>
    </div>

    <div class="message text-center text-white px-4 py-5">
        <p class="font-regular">Internet satelital en todas partes</p>
    </div>

    <div class="container-fluid card-bg d-flex align-items-center margin-xl">
        <div class="row">
            <div class="col-md-4 col-sm6 text-center bottom-padding d-flex align-items-center" data-aos="zoom-in-up"
                [attr.data-aos-delay]="'' + (300 * 0)">
                <div class="bg-light rounded">
                    <img class="service-icon mt-4" src="assets/images/satellite/indice.png" alt="" />
                    <p class="mb-3 mt-4 fs-regular fw-bold">Baja latencia</p>
                    <p class="m-4 mt-0 fs-regular-2">
                        Altas velocidades y 10 veces más receptivo que los
                        satélites actuales para una mejor transmisión de
                        voz, video y seguridad.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm6 text-center bottom-padding d-flex align-items-center" data-aos="zoom-in-up"
                [attr.data-aos-delay]="'' + (300 * 1)">
                <div class="bg-light rounded">
                    <img class="service-icon mt-4" src="assets/images/satellite/24hr.png" alt="" />
                    <p class="mb-3 mt-4 fs-regular fw-bold">Siempre encendido</p>
                    <p class="m-4 mt-0 fs-regular-2">
                        La red cuenta con múltiples satélites
                        interconectados como nodos terrestres lo que
                        garantiza estar siempre conectados.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-sm6 text-center bottom-padding d-flex align-items-center" data-aos="zoom-in-up"
                [attr.data-aos-delay]="'' + (300 * 2)">
                <div class="bg-light rounded">
                    <img class="service-icon mt-4" src="assets/images/satellite/conectividad.png" alt="" />
                    <p class="mb-3 mt-4 fs-regular fw-bold">Servicio rápido</p>
                    <p class="m-4 mt-0 fs-regular-2">
                        Metro Ethernet Forum brinda la capacidad de
                        configurar rápidamente la conectividad en cualquier
                        lugar y en cualquier momento.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fuild">
        <div class="row justify-content-center align-items-center m-4">
            <div class="col-auto text-center">
                <p class="mt-3 text-justify font-regular">
                    Con la flota de satélites, excelencia en ingeniería y experiencia
                    técnica líder en la industria, ofrecemos conectividad satelital
                    confiable y rentable para extender sin problemas la conectividad
                    comunitaria confiable y segura, lo que permite una infraestructura
                    económicamente viable para tener conexión a Internet. Soluciones de voz, datos y video (VSAT) para
                    el
                    sector energético, naviero, turístico y privado, marítimo o terrestre, con acceso a internet de alta
                    velocidad vía satélite.
                </p>
            </div>
            <div class="row">
                <p class="text-center mt-5 font-title">Trabajamos con las mejores tecnologías</p>
            </div>
            <br>
        </div>

        <div class="row px-4 text-center">
            <div class="col-md-3 col-sm-12 bottom-padding" data-aos="zoom-out" [attr.data-aos-delay]="'' + (300 * 0)">
                <img src="assets/images/satellite/1.png" class="img-thumbnail" style="width: 200px;" alt="">
            </div>
            <div class="col-md-3 col-sm-12 bottom-padding" data-aos="zoom-out" [attr.data-aos-delay]="'' + (300 * 1)">
                <img src="assets/images/satellite/2.png" class="img-thumbnail" style="width: 200px;" alt="">
            </div>
            <div class="col-md-3 col-sm-12 bottom-padding" data-aos="zoom-out" [attr.data-aos-delay]="'' + (300 * 2)">
                <img src="assets/images/satellite/3.png" class="img-thumbnail" style="width: 200px;" alt="">
            </div>
            <div class="col-md-3 col-sm-12 bottom-padding" data-aos="zoom-out" [attr.data-aos-delay]="'' + (300 * 3)">
                <img src="assets/images/satellite/4.png" class="img-thumbnail" style="width: 200px;" alt="">
            </div>
        </div>
    </div>
    <br>
    <br>
</section>
